<!DOCTYPE html>
<html lang="en">
   
<head>
  <meta charset="utf-8">
  <title> <%= titulo %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head') %>
</head>

<body>
  <header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <% if(imagen == '*'){ %>
          <img src="img/finca.JPG" alt="Home" class="rounded-pill w-25">
        <% } else { %>
          <img src="images/<%= imagen %>" alt="Home" class="rounded-pill w-25">
        <% } %>
        
        <p class="my-1 fw-bold my-3">
          <% if(idioma == 0){ %>
            Enquestes de la comunitat
          <% } else {%>  
            Encuestas de la comunidad
          <% } %>
        </p>
        <% if(hay){ %>
          <%- include('partials/navsurvey', {idurl: idurl, idioma: idioma}) %>

          <% if(visible == 'S'){ %>
            <%- include('partials/navresul', {idurl: idurl, idioma: idioma}) %>  
          <% } %>

        <% } else {%>  
          <div class="alert alert-success my-4" role="alert">
            No n'hi ha enquestes actualment..
          </div>
        <% } %>

        <% if(navPasw){ %>
          <%- include('partials/navpassw', {idioma: idioma}) %>
        <% } %>
         
        <%- include('partials/footer', {idioma: idioma}) %>
    </div>
</header>

</body>
</html>