<div class="container ml-2">
    <div class="form-check">
        <input tagrespuesta="<%= valor %>"  class="form-check-input" type="checkbox"
        tagenc="<%= enc %>" tagpreg="<%= preg %>"  tagnopc="<%= nopc %>">
        <label class="form-check-label" for="flexCheck<%= preg %>">
            <%= texto %>
        </label>
    </div>
</div>