<div class="container ml-2">
    <div class="form-check">
        <input tagrespuesta="<%= valor %>"  class="form-check-input" type="radio"
         name="flexRadio<%= preg %>" tagenc="<%= enc %>" tagpreg="<%= preg %>" tagnopc="1" tagoper="=">
        <label class="form-check-label" for="flexRadioDefault1">
            <%= texto %>
        </label>
    </div>
</div>